/*
body, body * {
    border-style: dashed;
    border-color: green;
}
*/
body {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.space {
    padding: 5%;
}

/* HEADER */
/*
header, header * {
    border-style: dashed;
    border-color: green;
}
*/
.head_container {
    width: 100%;
    height: fit-content;
    padding: 8px;
    border-radius: 16px;
    background: radial-gradient(ellipse at center, fuchsia, darkblue);
}

header {
    display: grid;
    grid-template: auto / 1fr 1fr;
    justify-items: center;
}

header * {
    color: white;
}

header #h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header #h1 span:nth-child(1) {
    color:slateblue;
    font-weight: 1000;
    font-size: 12px;
    width: fit-content;
    align-content: end;
}

header #h1 span:nth-child(2) {
    font-weight: 1000;
    font-size: 32px;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

header #h1 p {
    width: 60%;
    height: fit-content;
}

header #h1 button {
    border: none;
    border-radius: 42px;
    height: 42px;
    width: fit-content;
    padding: 0 16px 0;
    background-color: mediumpurple;
    align-content: center;
}

header #h1 button:hover {
    background-color: blueviolet;
}

header #h2 {
    justify-self: center;
}

/* MAIN */
/*
main #m5, main #m5 * {
    border-color: green;
    border-style: dashed;
}
*/
.main_container {
    width: 50%;
    height: fit-content;
    padding: px;
    border-radius: 16px;
    border: gray;
    border-style: solid;
    grid-column-start: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #m1 {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    width: 75%;
    gap: 25%;
}

main #m1 div {
    display: flex;
    flex-direction: column;
}

main #m1 div img {
    width: 50px;
}

main #m1 div span {
    font-size: 15px;
    font-weight: 1000;
}

main #m2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #m2 span:nth-child(2) {
    font-weight: 1000;
    font-size: 24px;
}

main #m2 p {
    width: 75%;
    text-align: justify;
}

main #m2 button {
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 42px;
    height: 42px;
    width: fit-content;
    padding: 0 16px 0;
    background-color: transparent;
    align-content: center;
    font-weight: 750;
}

main #m2 button:hover {
    background-color: darkgray;
}

main #m3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px;
}

main #m3 .p1 {
    display: grid;
    grid-template: auto 1fr / auto 35%;
}

main #m3 .p1 span:nth-child(1) {
    font-size: 12px;
}

main #m3 .p1 span:nth-child(2) {
    grid-row-start: 2;
    font-weight: 1000;
    font-size: 24px;
    width: 85%;
}

main #m3 .p1 p {
    grid-row-end: span 2;
    text-align: justify;
}

main #m4 .p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #m4 .p1 span:nth-child(1) {
    font-size: 12px;
}

main #m4 .p1 span:nth-child(2) {
    font-size: 24px;
    font-weight: 1000;
    text-align: center;
    width: 65%;
}

main #m4 .p2 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 24px 0;
}

main #m4 .p2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #m4 .p2 div span {
    font-size: 12px;
}

main #m4 .p2 div img {
    width: 142px;
}

main #m5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0 36px;
}

main #m5 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #m5 div span {
    font-weight: 1000;
    font-size: 24px;
}

main #m5 div p {
    text-align: justify;
}

main #m5 div button {
    height: 42px;
    padding: 0 16px 0;
    width: fit-content;
    border-radius: 42px;
    border: none;
}

main #m5 div button:hover {
    background-color: lightgray;
}

/* FOOTER */
/*
footer #f1, footer #f1 * {
    border-style: dashed;
    border-color: green;
}
*/
.footer_container {
    width: 100%;
    height: fit-content;
    padding: 8px;
    border-radius: 16px;
    background: radial-gradient(ellipse at 20% bottom, fuchsia, darkblue);
}

footer {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    column-gap: 56px;
}

footer * {
    color: white;
}

footer #f1 {
    display: flex;
    flex-direction: column;
}

footer #f1 img {
    width: 42px;
}

footer #f2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer #f2 .p1 {
    display: flex;
    flex-direction: column;
}

footer #f2 div span:nth-child(1) {
    font-weight: 1000;
}

footer #f2 .p2 {
    display: flex;
    flex-direction: column;
}

footer #f3 {
    grid-column: span 2;
    justify-self: center;
}